.vs/
bin/
PokemonSDK.JuyJuka.QuickMapStart/bin/
PokemonSDK.JuyJuka.QuickMapStart/obj/
PokemonSDK.JuyJuka.QuickMapStart/.vs/
PokemonSDK.JuyJuka.QuickMapStart_examples/t3-currently-not-ignored/
PokemonSDK.JuyJuka.QuickMapStart_examples/t3_bmp/
PokemonSDK.JuyJuka.QuickMapStart_examples/t3_tiled/
PokemonSDK.JuyJuka.QuickMapStart_examples/t4/
PokemonSDK.JuyJuka.QuickMapStart_examples/for_merge_t3/